@import "tailwindcss";
@import "tw-animate-css";
@import "./styles/tokens.css";

@custom-variant dark (&:is(.dark *));
@plugin "@tailwindcss/typography";

@theme inline {
  --font-space-grotesk: var(--font-space-grotesk);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-brand-black: var(--brand-black);
  --color-brand-white: var(--brand-white);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-header-button-active: var(--header-button-active);
  --color-header-surface: var(--header-surface);
  --color-primary: var(--primary);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  --color-ring: var(--ring);
  /* Brand-colors */
  --color-brand-orange: var(--brand-orange);

  /* surface-colors */
  --color-surface-grey: var(--surface-grey);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
